<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {{#data}}
            <label> Id: </label> {{_id}} <br>
            <label> Nome: </label> {{nome}} <br>
            <label> Sobrenome: </label> {{sobrenome}} <br>
            <label> NickName: </label> {{nickName}} <br>
            <br>
            <br>
        {{/data}}
</body>
</html>